DCS_GRPC_HOST=server.sourcedcs.page:50051
DCS_GRPC_PROTO_PATH=/home/nklx/Downloads/DCS-gRPC-0.8.1/Docs/DCS-gRPC/protos
DCS_GRPC_POLL_RATE=0
SRS_HOST=server.sourcedcs.page
SRS_PORT=5002
WS_PORT=3100
WS_BROADCAST_INTERVAL_MS=500
